<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connstrngAccount" connectionString="Data Source=MSI;Initial Catalog=FTM_USER;Integrated Security=True" />
  <add name="connstrngMember" connectionString="Data Source=MSI;Initial Catalog=FTM;Integrated Security=True" />
  <add name="WinformFamilyTree.Properties.Settings.memberConnectionString"
   connectionString="Data Source=MSI;Initial Catalog=member;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>